[submodule "gnu-efi"]
	path = gnu-efi
	url = https://github.com/ncroxon/gnu-efi.git
[submodule "edk2"]
	path = edk2
	url = https://github.com/tianocore/edk2
[submodule "vendor/zstd"]
	path = vendor/zstd
	url = https://github.com/facebook/zstd
